<div class="fox-tags">
    <fox-tag-item
        [name]="tag.label"
        [key]="tag.value"
        [index]="index"
        [color]="settings.color"
        [size]="settings.size"
        [selected]="selected === index"
        (removed)="removeTag(index)"
        *ngFor="let tag of tagsList; let index = index">
    </fox-tag-item>
    <input #tagsInput type="text" class="fox-tags__input form-control-{{ settings.size }}" [(ngModel)]="searchText" [placeholder]="langs.inputPlaceholder"
        (paste)="onPaste($event)"
        (keydown)="onKeydown($event)"
        (blur)="onBlur($event)">
    <div class="fox-tags__autocomplete" *ngIf="settings.autocomplete && searchText.length > 0" >
        <div class="fox-tags__autocomplete-item" *ngFor="let item of settings.autocompleteItems | tagSearchFilter:searchText" (click)="onAutocompleteItem($event, item)">
            {{ item.label }}
        </div>
    </div>
</div>