.vscode
node_modules
typings
dist
demo
compiled

src/**/*.js
src/**/*.js.map
src/**/*.js
src/**/*.js.map
src/**/*.metadata.json
src/**/*.ngfactory.ts
src/**/*.css.shim.ngstyle.ts
src/**/*.ngsummary.json
src/**/*.css.ngstyle.ts
*.metadata.json
*.log