.fox-password__strong {
    position: relative;
    margin-top: -8px;
    width: 50%;
}
.fox-password__strong-item {
    height: 5px;
    width: 100%;
    background-color: #ddd;
}
.fox-password__strong-wrapper {
    display: inline-block;
    width: 19%;
    padding: 0 5px 0 5px;
}
.fox-password__strong-wrapper:first-child {
    padding-left: 0;
}
.fox-password__strong-item_1 {
    background-color: #e11e21;
}
.fox-password__strong-item_2 {
    background-color: #ff5d10;
}
.fox-password__strong-item_3 {
    background-color: #f9b836;
}
.fox-password__strong-item_4 {
    background-color: #9cc259;
}
.fox-password__strong-item_5 {
    background-color: #00b500;
}