<div class="fox-password">
    <div class="input-group">
        <input #passwordInput class="form-control form-control-{{ settings.size }} fox-input" type="{{ showPassword ? 'text' : 'password' }}" 
        [name]="name" 
        [(ngModel)]="value" 
        [placeholder]="placeholder" 
        (click)="onClick($event)" 
        (change)="onChange($event)" 
        (keyup)="strong(this.value)" 
        (blur)="onBlur($event)" 
        [class.disabled]="disabled" 
        [disabled]="disabled">
        <span class="input-group-btn">
            <button class="btn btn-{{ settings.size }} fox-password__show btn-{{ settings.buttonColor }}" type="button" (click)="displayPassword()">
                <i class="fa" aria-hidden="true" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
            </button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-{{ settings.size }} fox-password__generate btn-{{ settings.buttonColor }}" type="button" (click)="generatePassword()" [innerHtml]="langs.generate"></button>
        </span>
    </div>
    <div class="fox-password__strong">
        <div *ngFor="let strong of numberReturn(strongValue)" class="fox-password__strong-wrapper">
            <div class="fox-password__strong-item fox-password__strong-item_{{ strongValue }}"></div>
        </div>
        <div *ngFor="let strong of numberReturn(strongAvailable - strongValue)" class="fox-password__strong-wrapper">
            <div class="fox-password__strong-item">
        </div>
    </div>

</div>