.fox-fieldset {
    position: relative;
    margin-bottom: 1rem;
}
.fox-fieldset__collapser {
    margin-left: 20px;
}
.fox-fieldset__content {
    padding: 30px 10px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: -18px;
}
