<div class="fox-fileuploader" [class.fox-fileuploader_multiple]="settings.multiple">
    <input class="form-control fox-fileuploader__input" #fileInput type="file" [name]="name" [multiple]="settings.multiple" [(ngModel)]="fileValue" (change)="onChange($event)">
    
    <span *ngIf="files.length && settings.viewCounter" class="fox-fileuploader__count-uploaded">{{ files.length }} {{ langs.uploadedCounter }}</span>
    <div class="fox-fileuploader__previews" *ngIf="files.length && settings.showPreview">
        <div *ngFor="let file of files; let i = index" class="fox-fileuploader__item">
            <template [ngIf]="extensionIsAllow(file.type)">
                <div class="fox-fileuploader__thumb">
                    <img class="img-thumbnail" id="{{ previewPrefix }}-{{ file.name }}-{{ file.size }}">
                </div>
                <div class="fox-fileuploader__name">{{ file.name }}</div>
                <button type="button" class="btn btn-danger fox-fileuploader__remove" (click)="removeFromQueue(i)" [innerHtml]="langs.removeFile"></button>
            </template>
        </div>
    </div>
    <button type="button" class="btn btn-{{ settings.size }} btn-{{ settings.color }}" (click)="viewUploadDialog($event)" [innerHtml]="langs.buttonText"></button>
    <button type="button" class="btn btn-danger btn-{{ settings.size }}" (click)="clearAll()" *ngIf="files.length" [innerHtml]="langs.clearAll"></button>
</div>