<div class="fox-datagrid__filter">
    <fox-popover #filterPopover [settings]="{buttonLabel: '<i class=\'fa fa-filter\'></i>', title: langs.filterTitle + ' ' + langs.filterBy + ' ' + row.label, color: 'link', placement: 'bottom'}">
        <template [ngIf]="filters[row.field]">
            <div class="input-group">
                <div class="input-group-btn fox-datagrid__equal">
                    <fox-select *ngIf="useEqual" name="equal" [options]="equalOptions" [settings]="{required: true}" [(ngModel)]="filtersData[row.field]['equal']" (changed)="filterChanged($event)"></fox-select>
                </div>
                <div [ngSwitch]="filters[row.field].type">
                    <fox-input *ngSwitchCase="'string'" name="filter" [(ngModel)]="filtersData[row.field]['value']" (changed)="filterChanged($event)"></fox-input>
                    <div *ngSwitchCase="'number'">
                        <fox-spinner *ngIf="!row.values" name="filter" [(ngModel)]="filtersData[row.field]['value']" (changed)="filterChanged($event)"></fox-spinner>
                        <fox-select *ngIf="row.values" name="filter" [options]="createSelectItem(row.values)" [(ngModel)]="filtersData[row.field]['value']" (changed)="filterChanged($event)"></fox-select>
                    </div>
                    <fox-select *ngSwitchCase="'boolean'" name="filter" [options]="booleanOptions" [(ngModel)]="filtersData[row.field]['value']" (changed)="filterChanged($event)"></fox-select>
                    <fox-datepicker *ngSwitchCase="'date'" [langs]="{selectedDate: ''}" [settings]="{displayFormat: 'DD-MM-YYYY H:mm'}" name="filter" [(ngModel)]="filtersData[row.field]['value']" (changed)="filterChanged($event)"></fox-datepicker> 
                </div>
            </div>
            <div class="fox-datagrid__filter-btn">
                <fox-button [settings]="{icon: 'filter', label: langs.filterIt}" (click)="filterHandler($event, filterPopover)"></fox-button>
            </div>
        </template>
    </fox-popover>
</div>