.fox-tab > ul {
    margin-bottom: 1rem;
}
.fox-tab__color_danger .fox-tab__link:hover,
.fox-tab__color_danger .fox-tab__link:focus,
.fox-tab__color_danger .fox-tab__link.active {
    background-color: #d9534f;
    color: #fff;
}
.fox-tab__color_primary .fox-tab__link:hover,
.fox-tab__color_primary .fox-tab__link:focus,
.fox-tab__color_primary .fox-tab__link.active {
    background-color: #0275d8;
    color: #fff;
}
.fox-tab__color_success .fox-tab__link:hover,
.fox-tab__color_success .fox-tab__link:focus,
.fox-tab__color_success .fox-tab__link.active {
    background-color: #5cb85c;
    color: #fff;
}
.fox-tab__color_info .fox-tab__link:hover,
.fox-tab__color_info .fox-tab__link:focus,
.fox-tab__color_info .fox-tab__link.active {
    background-color: #5bc0de;
    color: #fff;
}
.fox-tab__color_warning .fox-tab__link:hover,
.fox-tab__color_warning .fox-tab__link:focus,
.fox-tab__color_warning .fox-tab__link.active {
    background-color: #f0ad4e;
    color: #fff;
}
.fox-tab__item.disabled:hover a {
    cursor: not-allowed;
    pointer-events: all !important;
}