<nav class="navbar navbar-fixed-top navbar__bg">
	<div class="navbar__toggler"></div>
	<a class="navbar-brand navbar_logo-wrapper" href="#">
		<img src="dist/resources/img/logo.png" class="navbar_logo" alt="Components">
		<span class="navbar_logo-sub">alpha</span>
	</a>
	<ul class="nav navbar-nav navbar__links">
		<li class="nav-item">
			<a class="navbar__link" routerLink="" routerLinkActive="active">Getting Started</a>
		</li>
		<li class="nav-item">
			<a class="navbar__link" routerLink="overwrite" routerLinkActive="active">Overwrite</a>
		</li>
		<li class="nav-item">
			<a class="navbar__link" routerLink="translation" routerLinkActive="active">Translation</a>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar__socials">
		<li class="nav-item">
			<a target="_blank" class="navbar__link navbar__icon" href="https://github.com/langaner/prettyfox-ui" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a>
		</li>
	</ul>
</nav>
<div class="sidebar">
	<div class="sidebar__list" foxScrollbar [settings]="{thumbColor: 'warning', trackOpacity: '0', showOnEnter: true}" height="calc(100% - 54px)">
		<fox-panelmenu [model]="menu" [settings]="{counter: true}"></fox-panelmenu>
	</div>
</div>
<div class="content">
	<router-outlet></router-outlet>
</div>